<div class="container">
    <div class="exam mt-5">
        <h1 class="text-center">Create New Exam</h1>
    <p class="fs-5 text-center">This phase is so important be craetive to attract users</p>

      </div>
    <form [formGroup]="ExamForm" (submit)="AddNewExam($event)">
        <div class="mb-3 ">
            <label for="formGroupExampleInput" class="form-label">Enter The Exam Name here</label>
            <input type="text" class="form-control" id="formGroupExampleInput" formControlName="examName"
                placeholder="Name">
            <ng-container *ngIf="getName.touched">

                <div *ngIf="getName.hasError('required')">
                    <p class="text-danger"> Question is Required</p>
                </div>
                <div *ngIf="getName.hasError('minlength')">
                    <p class="text-danger"> Length Must be > 8 </p>
                </div>

            </ng-container>

        </div>

        <div class="mb-3 ">
            <label for="formGroupExampleInput" class="form-label">Enter The Exam Discription here</label>
            <input type="text" class="form-control" id="formGroupExampleInput" formControlName="examDicription"
                placeholder="Discription">
            <ng-container *ngIf="getDis.touched">

                <div *ngIf="getDis.hasError('required')">
                    <p class="text-danger"> Question is Required</p>
                </div>
                <div *ngIf="getDis.hasError('minlength')">
                    <p class="text-danger"> Length Must be > 8 </p>
                </div>

            </ng-container>

        </div>

        <div class="d-flex  justify-content-around">
            <button class="btn btn-dark mb-4 ">Create The Exam</button>

        </div>
    </form>
</div>