/* .container {
    max-width: 700px;
    margin: 0 auto;
  }
  .form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .form-group {
    margin-bottom: 10px;
  }
  label {
    display: block;
    font-weight: bold;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #808080;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: #218838;
  } 
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
   */
   html {
    scroll-behavior: smooth;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    border: 0;
  }
  /* fonts
  font-family: 'Poppins', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  */
  body {
    font-family: "Source Sans Pro", sans-serif;
  }
  h1,
  h2,
  h3.h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
  }
  h1,
  h2 {
    font-weight: 700;
  }
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }
  #contact h2::before{
    content: "g";
    position: absolute;
    z-index: -1;
    top: -0.5em;
    transform: translateX(-20%);
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    opacity: .06;
}
  #contact .row .contact-item h4 {
    font-size: 18px;
    color: #787878;
  }
  #contact .row form .form-btn {
    background-color: #00d5ee;
    color: white;
    transition: all 0.5s;
  }
  #contact .row form .form-btn:hover {
    transform: translateY(-2px);
  }
  .iframe{
    width: 100%;
    height: 100%;
  }