<!-- <div class="container">
    <h1>Contact Us</h1>
    <form (submit)="onSubmit(contactForm)" #contactForm="ngForm" class="form">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required [(ngModel)]="name" class="form-control"
          #nameInput="ngModel">
        <div *ngIf="nameInput?.invalid && (nameInput?.dirty || nameInput?.touched)" class="error">
          <div *ngIf="nameInput?.errors?.['required']">Name is required.</div>
        </div>
       
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required [(ngModel)]="email" class="form-control"
          #emailInput="ngModel">
        <div *ngIf="emailInput?.invalid && (emailInput?.dirty || emailInput?.touched)" class="error">
          <div *ngIf="emailInput?.errors?.['required']">Email is required.</div>
          <div *ngIf="emailInput?.errors?.['email']">Email must be valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" required [(ngModel)]="phone" class="form-control"
          #phoneInput="ngModel" >
        <div *ngIf="phoneInput?.invalid && (phoneInput?.dirty || phoneInput?.touched)" class="error">
          <div *ngIf="phoneInput?.errors?.['required']">Phone number is required.</div>
          <div *ngIf="phoneInput?.errors?.['pattern']">Phone number must be 11 digits.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="10"   required [(ngModel)]="message" class="form-control"
          #messageInput="ngModel"></textarea>
        <div *ngIf="messageInput?.invalid && (messageInput?.dirty || messageInput?.touched)" class="error">
          <div *ngIf="messageInput?.errors?.['required']">Message is required.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Send Message</button>
    </form>
  </div> -->

  <!-- part7 and last part contact-->
  <section id="contact" class="mt-5">
    <div class="row margin-0">
        <div class="padding-0 col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="iframe ">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1021.4351581752816!2d31.018680925566947!3d30.558212466294236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7d7223ff2d63f%3A0x9d531b61c0ebb81b!2sITI%20Menofia%20Branch!5e0!3m2!1sar!2seg!4v1685812223994!5m2!1sar!2seg"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""
                    aria-hidden="false" tabindex="0"></iframe>

            </div>

        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ml-xl-5 ml-lg-5  d-flex align-items-center">
            <div class="contact-item mx-5 w-100">
                <div class="contact-tit d-flex justify-content-start align-items-center">
                    <h2 class="position-relative front">Get In Touch</h2>
                </div>
                <h4 class="mb-3">Let's work together.
                </h4>
                <form>
                    <div class="form-group mb-3">
                        <label for="name">Your Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="emailHelp">

                    </div>
                    <div class="form-group mb-3">
                        <label for="email">Your Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">

                    </div>
                    <div class="form-group mb-3">
                        <label for="number">Phone Number</label>
                        <input type="number" class="form-control" id="number" aria-describedby="emailHelp">

                    </div>

                    <div class="form-group mb-5">
                        <label for="message">Your Message</label>
                        <textarea class="form-control" id="message" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn form-btn px-4 py-3">Send Message</button>
                </form>

            </div>
        </div>
    </div>
</section>