<nav class="navbar  p-2 bg-dark navbar-expand-lg border-bottom border-bottom-dark" data-bs-theme="dark">
  <div class="container-fluid p-2">
    <a class="navbar-brand  " href="#">QUIZO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link  active" aria-current="page" [routerLink]="['/Home']"
          [routerLinkActive]=" 'text-success'">Home</a>
        <a class="nav-link active" [routerLink]="['/About']" [routerLinkActive]="'text-success'">About</a>


        <a class="nav-link active" [routerLink]="['/CreateExam']" [routerLinkActive]="'text-success'"
          [hidden]="!isAdmin">Create Exam</a>
        <a class="nav-link active" [routerLink]="['/AdminExam']" [routerLinkActive]="'text-success'"
          [hidden]="!isAdmin">Admin-Exams </a>





        <a class="nav-link active" [routerLink]="['/Exams']" [routerLinkActive]="'text-success'"
          [routerLinkActiveOptions]="{exact:true}" [hidden]="!isUser">Exams</a>
        <a class="nav-link active" [routerLinkActive]="'text-success'" [routerLink]="['/login']" [hidden]="isLogged"> <i
            class="fa-solid fa-user"></i> Login</a>
        <a class="nav-link active" [routerLinkActive]="'text-success'" [hidden]="!isLogged" (click)="signOut()"> <i
            class="fa-solid fa-user"></i> LogOut</a>
        <a class="nav-link active" [routerLink]="['/register']" [hidden]="isLogged">Register</a>
      </div>
    </div>
  </div>
</nav>